@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kurdish";
  src: url("/fonts/Peshang_Des_1_bold_.ttf");
}

.kurdish-font {
  font-family: "kurdish", sans-serif;
}
